body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f6f8;
  color: #3d5170;
}